.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

android/.gradle/
android/local.properties
android/key.properties
android/app/upload-keystore.jks
android/app/google-services.json

*.iml
.idea/
.vscode/
